{% extends 'base.html' %}
{% block content %}

<div class='cont'>
    {% if object %}
    <h1>Edit {{link.title}}</h1>

    <div class='form-cont'>
        <form method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <button value='Update' type="submit" class="btn btn-primary" id='submit-btn'>Submit</button>
            <a style="display: inline-block; text-align: center;" href="/links/{{link.id}}">Cancel</a>
        </form>
    </div>
    {% else %}
        <h1>Add Link</h1>

        <div class='form-cont'>
            <form method="post" action="{% url 'create_link' user.id %}">
                {% csrf_token %}
                <div class="form-group"><label for="id_address">Address:</label> <input class="form-control" type="text" name="address" maxlength="255" required="" id="id_address"></div>
                <div class="form-group"><label for="id_title">Title:</label> <input class="form-control" type="text" name="title" maxlength="150" required="" id="id_title"></div>
                <div class="form-group"><label for="id_link_type">Link type:</label>
                    <select class="form-control" name="link_type" id="id_link_type">
                        <option value="t" selected="">Tutorial</option>
                    
                        <option value="d">Documentation</option>
                    
                        <option value="a">Support Article</option>
                    
                    </select>
                </div>
                <div class="form-group"><label for="id_tags">Tags:</label> <input class="form-control" type="text" name="tags" maxlength="150" required="" id="id_tags"></div>
                <div class="form-group"><label for="id_created_date">Created on:</label> <input class="form-control" type="text" name="created_date" required="" id="id_created_date"></div>
                <div class="form-group"><label for="id_planned_date">Planned for:</label> <input class="form-control" type="text" name="planned_date" required="" id="id_planned_date"></div>
                <div class="form-group"><label for="id_viewed_date">Viewed on:</label> <input class="form-control" type="text" name="viewed_date" required="" id="id_viewed_date"></div>
                <div class="form-group"><label for="id_github_project">Github project:</label> <input class="form-control" type="text" name="github_project" maxlength="255" required="" id="id_github_project"></div>
                <div class="form-group"><label for="id_code_snippet">Code snippet:</label> <textarea class="form-control" name="code_snippet" cols="100" rows="10" maxlength="500" required="" id="id_code_snippet"></textarea></div>
                <div class="form-group"><label for="id_status">Status:</label>
                    <select class="form-control" name="status" id="id_status">
                        <option value="n" selected="">New</option>
                        
                        <option value="f">Favorite</option>
                        
                        <option value="v">Viewed</option>
            
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" id='submit-btn'>Submit</button>
            </form>
        </div>
    {% endif %}
</div>

{% endblock %}