{% extends 'base.html' %}
{% block content %}

<div class='cont' style="min-width: 80%;">
    <h1>Calendar</h1>
    <p>IMPORTANT: calendar will not be visible if screen is too small. Try rotating your device or a wider screen.</p>
    <!-- <div class="clearfix">&nbsp;&nbsp;
        <a class="btn btn-info left" href="/calendar/{prev_month}"> Previous Month </a>
        &nbsp;&nbsp;
        <a class="btn btn-info right" href="/calendar/{next_month}"> Next Month </a>
    </div> -->
    {{calendar}}
    </table>
</div>

{% endblock %}