{% extends 'base.html' %}
{% block content %}

<div class='dashboard-container'>
    <div id='fav-container' class='cont cont_1'>
        {% if user.avatar %}
            <div class='profile-image' style="background-image: url({{user.avatar}});"></div>
        {% else %}
        <div class='profile-image' style="background-image: url('https://picsum.photos/200/300');"></div>
        {% endif %}
        <h3>{{user}}</h3>
        <p class='profile-info'>{{user.username}}</p>
        <p class='profile-info'>{{user.email}}</p>
        <a href="/users/{{user.id}}/update"><button id='submit-btn' class="btn btn-primary">Edit</button></a>
        <hr style="width: 100%;"/>
        <br>
        <div style="width: 100%;">
            <h1>Favorites</h1>
        </div>

        {% for link in user.link_set.all %}
        {% if link.status == 'f' %}
        <div class="card summary-card mb-3">
            <div class="row no-gutters">
              {% if link.link_type == 'd' %}
              <div class="col-md-4" style="max-width: 10px; background-color: #E0A23E;"></div>
              {% elif link.link_type == 't' %}
              <div class="col-md-4" style="max-width: 10px; background-color: #89B0AE;"></div>
              {% else %}
              <div class="col-md-4" style="max-width: 10px; background-color: #555B6E;"></div>
              {% endif %}
              <div class="col-md-11">
                <div class="card-body">
                    <a href="{{link.address}}" target="_blank"><h5 class="card-title">{{link.title}}</h5></a>
                    <p class="float-left card-text"><small class="text-muted">Last updated on: {{link.viewed_date}}</small></p>
                    <p class="float-right card-text"><small><a href="{% url 'link_detail' link.id %}">Link Details</a></small></p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% endfor %}

    </div>
    <div class='cont cont_2'>
        <div id='new-cont' style="width: 100%;">
            <div style="width: 100%; display: flex; justify-content: space-between;">
                <h1 class='float-left' style="display: inline-block;">New Links</h1>
                <a href="/users/{{user.id}}/create_link/" class='float-right' style="display: inline-block; color: black;"><h1><i class="fas fa-plus-circle"></i></h1></a>
            </div>
            {% for link in user.link_set.all %}
            {% if link.status == 'n' %}
            <div style="width: 100%;" class="card mb-3">
                <div class="row no-gutters">
                {% if link.link_type == 'd' %}
                    <div class="col-md-4" style="max-width: 10px; background-color: #E0A23E;"></div>
                {% elif link.link_type == 't' %}
                    <div class="col-md-4" style="max-width: 10px; background-color: #89B0AE;"></div>
                {% else %}
                    <div class="col-md-4" style="max-width: 10px; background-color: #555B6E;"></div>
                {% endif %}
                <div class="col-md-11">
                    <div class="card-body">
                    <a href="{{link.address}}" target="_blank"><h5 class="card-title">{{link.title}}</h5></a>
                    <p style="margin: 0.2em;" class="card-text"><small class="text-muted">{{link.tags}}</small></p>
                    <a href="{{link.github_project}}"><i class="fab fa-github"></i></a>
                    <pre><code class="language-javascript">{{link.code_snippet}}</code></pre>
                    {% if link.planned_date < today %}
                    <p class="float-left card-text"><small class="text-muted" style="color: red !important;">Planned Date: {{link.planned_date}} </small></p>
                    {% else %}
                    <p class="float-left card-text"><small class="text-muted">Planned Date: {{link.planned_date}} </small></p>
                    {% endif %}
                    <p class="float-right card-text"><small><a href="{% url 'link_detail' link.id %}">Link Details</a></small></p>
                    </div>
                </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>

        <div id='recent-cont' style="width: 100%;">
            <h1>Recent</h1>
        

        {% for link in user.link_set.all %}
        {% if link.status == 'v' %}
        <div class="card mb-3">
            <div class="row no-gutters">
            {% if link.link_type == 'd' %}
                <div class="col-md-4" style="max-width: 10px; background-color: #E0A23E;"></div>
            {% elif link.link_type == 't' %}
                <div class="col-md-4" style="max-width: 10px; background-color: #89B0AE;"></div>
            {% else %}
                <div class="col-md-4" style="max-width: 10px; background-color: #555B6E;"></div>
            {% endif %}
              <div class="col-md-11">
                <div class="card-body">
                  <a href="{{link.address}}" target="_blank"><h5 class="card-title">{{link.title}}</h5></a>
                  <p style="margin: 0.2em;" class="card-text"><small class="text-muted">{{link.tags}}</small></p>
                  <a href="{{link.github_project}}"><i class="fab fa-github"></i></a>
                  <pre><code class="language-javascript">{{link.code_snippet}}</code></pre>
                  <p class="float-left card-text"><small class="text-muted">Created Date: {{link.created_date}} </small></p>
                  <p class="float-right card-text"><small><a href="{% url 'link_detail' link.id %}">Link Details</a></small></p>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
    </div>
</div>

<script>
    let favCont = document.getElementById('fav-container');
    let par = document.createElement('p');
    par.textContent = 'No Favorites added yet.';
    if(favCont.children.length <= 8){
        favCont.appendChild(par)
    }    
</script>
<script>
    let newCont = document.getElementById('new-cont');
    let parr = document.createElement('p');
    parr.textContent = 'You have not added any links yet.';
    if(newCont.children.length <= 1){
        newCont.appendChild(parr)
    }
</script>
<script>
    let recCont = document.getElementById('recent-cont');
    let parra = document.createElement('p');
    parra.textContent = 'Mark links as viewed to move them to this section.';
    if(recCont.children.length <= 1){
        recCont.appendChild(parra)
    }
</script>

{% endblock %}