{% extends 'base.html' %}
{% block content %}

<div class='cont'>
<div class='page-title'><h1>Link Tracker</h1></div>
<p class='page-title page-sub-title'>Never loose an important resource again!</p>
<hr />
<p class='page-sub-title'>Welcome to Link Tracker. Save here any important links on our platform, manage them by adding notes to them, marking them as favorites, or linking them to projects. Works for:</p>
<ul class='page-sub-title'>
    <li>Tutorial Links</li>
    <li>Documentation Links</li>
    <li>Support Articles Links</li>
</ul>
</div>

{% endblock %}