/* Calendar CSS */

@media screen and (max-width: 550px) {
  .calendar {
      display: none !important;
  }
}

.calendar {
  width: 100%;
  max-width: 100%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

/* Dynamic Background */

.area{
  padding: 0;
  margin: 0;
  height: 100%;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #bee3db;
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

/* Base Rules */

body {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #faf9f9;
  min-height: 100vh;
  flex-direction: column;
  padding: 0;
}

h1 {
  font-family: 'Rajdhani', sans-serif;
}

a {
  color: black;
}

#logo {
  font-size: 36px;
  font-family: 'Rajdhani', sans-serif;
  color: white;
}

.navbar {
  background-color: #555b6e;
}


main {
  flex: 1 0 auto;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  max-width: none;
}

.cont {
  background-color: #bee3db;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 1em;
  max-width: 750px;
}

hr {
  margin: 0;
  border-style: solid;
  background: black;
  height: 2px;
}

#submit-btn {
  background-color: #E0A23E;
  border-color: #E0A23E;
  margin: 1em 0 1em 0 ;
}

.page-footer {
  background-color: #555b6e;
  min-height: 1.5em;
  padding: 0.7em 0.5em 0.5em 0.5em;
}
.page-footer * {
  color: white;
}

/* Home Page Rules */
.page-title {
  text-align: center;
}

.page-sub-title {
  font-size: 24px;
}

main li{
  list-style-type: circle !important;
  list-style-position: inside;
}

main li::marker{
  margin: 0;
}

/* Log In Page Rules */

.form-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  margin: 0;
}

/* Dahboard Rules */

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin-bottom: 1em;
}

.cont_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 345px;
  width: 100%;
  max-width: 100%;
}

.cont_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 345px;
  max-width: 100%;
}

.card {
  width: 100%;
  max-width: 626px;
}

.profile-info {
  margin: 0;
}

pre {
  padding: 0.5em;
  background-color: #e1dada;
  border-radius: 5px;
  margin: 0.5em;
}

#marker {
  background-color: #E0A23E;
}

.form-control:disabled {
  background-color: white;
}

/* Detail Page */

.comment-cont {
  background-color: #FAF9F9;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
}

.comment-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: 0 1em 1em 0;
}

/* Media Queries */

@media all and (min-width: 1100px) {

  .dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: unset;
    width: 100%;
  }

  .cont_1 {
    flex: 1 0 auto;
    margin: 1em;
    max-width: 378px;
  }

  .cont_2 {
    flex: 3 0 auto;
    margin: 1em;
    max-width: 1134px;
  }

  .summary-card {
    min-width: unset;
    max-width: 345px;
  }

  .card {
    max-width: unset;
  }

  .card-body {
    padding-right: 0;
  }

}