/* Base Rules */

body {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #faf9f9;
  min-height: 100vh;
  flex-direction: column;
  padding: 0;
}

h1 {
  font-family: 'Rajdhani', sans-serif;
}

a {
  color: black;
}

#logo {
  font-size: 36px;
  font-family: 'Rajdhani', sans-serif;
  color: white;
}

.navbar {
  background-color: #555b6e;
}


main {
  flex: 1 0 auto;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  max-width: none;
}

.cont {
  background-color: #bee3db;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 1em;
  max-width: 750px;
}

hr {
  margin: 0;
  border-style: solid;
  background: black;
  height: 2px;
}

#submit-btn {
  background-color: #E0A23E;
  border-color: #E0A23E;
  margin: 1em 0 1em 0 ;
}

.page-footer {
  background-color: #555b6e;
  min-height: 1.5em;
  padding: 0.7em 0.5em 0.5em 0.5em;
}
.page-footer * {
  color: white;
}

/* Home Page Rules */
.page-title {
  text-align: center;
}

.page-sub-title {
  font-size: 24px;
}

main li{
  list-style-type: circle !important;
  list-style-position: inside;
}

main li::marker{
  margin: 0;
}

/* Log In Page Rules */

.form-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  margin: 0;
}

/* Dahboard Rules */

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin-bottom: 1em;
}

.cont_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 345px;
}

.cont_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 345px;
}

.summary-card {
  min-width: 390px;
}

.card {
  width: 100%;
  max-width: 626px;
}

.card-body {
  padding-right: 0;
}

.profile-info {
  margin: 0;
}

pre {
  padding: 0.5em;
  background-color: #e1dada;
  border-radius: 5px;
  margin: 0.5em;
}

#marker {
  background-color: #E0A23E;
}

.form-control:disabled {
  background-color: white;
}

/* Media Queries */

@media all and (min-width: 1100px) {

  .dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .cont_1 {
    flex: 1 0 auto;
    margin: 1em;
    max-width: 378px;
  }

  .cont_2 {
    flex: 3 0 auto;
    margin: 1em;
  }

  .summary-card {
    min-width: unset;
    max-width: 345px;
  }

}